# See http://help.github.com/ignore-files/ for more about ignoring files.

# Visual Studio Code
/.vs
.vs/*

# Ignore bin and obj folders
bin/
obj/

# Add other common ignores (if needed)
*.log
*.vs/
.vscode/
*.user
*.suo
*.dll
*.pdb

TestResults/*