<html>
  <body>
    <h2 style="color:green;">Build: ${BUILD_STATUS}</h2>

    <p><b>Project:</b> ${PROJECT_NAME}</p>
    <p><b>Build Number:</b> ${BUILD_NUMBER}</p>
    <p><b>Triggered By:</b> ${CAUSE}</p>
    <p><b>Duration:</b> ${BUILD_DURATION}</p>

    <p>
      <a href="${BUILD_URL}">Click here to view Jenkins build</a>
    </p>

    <hr/>

    <h3>Test Summary</h3>
    ${TEST_COUNTS}
  </body>
</html>
